* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.s1 {
  background-image: url("./Image/xbox.jpg");
  background-size: cover;
}

.section h1 {
  font-size: 64px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #c1c1c1;
}

.s2 p {
  color: #ded7d6;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.metrologo {
  position: absolute;
  height: 100px;
  width: 250px;
  bottom: 30px;
  left: 50px;
}

.gowlogo {
  position: absolute;
  bottom: 20px;
  margin-left: 74%;
}

.met {
  margin: 20%;
  width: 50%;
  margin-left: 5%;
  font-size: 20px;
}

.gow {
  width: 45%;
  float: right;
  margin-right: 5%;
  font-size: 20px;
  margin-top: 3%;
}

.s2 {
  background: linear-gradient(
      to top,
      rgba(222, 215, 214, 0),
      rgba(0, 0, 0, 100)
    ),
    url("./Image/metro.jpg");
  background-size: cover;
  background-position: center;
}

.s2 h1 {
  color: #c1c1c1;
}

.s3 {
  background: linear-gradient(
      to right,
      rgba(222, 215, 214, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("./Image/gow.jpg");
  background-size: cover;
  background-position: center;
}

.s3 h1 {
  color: #fffdf9;
}

.gow p {
  color: white;
  opacity: 0.85;
}
